<article class="post card">
    <div class="title">
        <a href="/post/{{id}}"><h3 class="card-header">{{title}}</h3></a>
        <p class="card-body">{{post_text}}</p>
    </div>
    <div class="blockquote-footer">  {{user.username}} @
        {{created_at}}
        |
 <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
     </div>
</article>

<script src="/javascript/comment.js"></script>